<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All tasks</title>
</head>
<body>

<div th:each="task : ${tasks}">
    <a th:href="@{/tasks/{id}(id=${task.getId()})}"
       th:text="${task.getName() + ', ' + task.getDescription()} + ', ' + task.DateFrom()}
        + ', ' + task.DateTo()} + ', ' + task.getStatus()}">project</a>
</div>

<br>
<hr/>

<a href="/tasks/new">Create new project</a>

</body>
</html>