<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
<p th:text="${task.getName()}">VALUE</p>
<p th:text="${task.getDescription()}">VALUE</p>
<p th:text="${task.getDateFrom()}">VALUE</p>
<p th:text="${task.getDateTo()}">VALUE</p>
<p th:text="${task.getStatus()}">VALUE</p>

<a th:href="@{/tasks/{id}/edit(id=${task.getId()})}">Edit</a>

<form th:method="delete" th:action="@{/tasks/{id}(id=${task.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>