<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All projects</title>
</head>
<body>

<div th:each="project : ${projects}">
    <a th:href="@{/projects/{id}(id=${project.getId()})}"
       th:text="${project.getName() + ', ' + project.getDescription() + ', ' + project.DateFrom()
        + ', ' + project.DateTo() + ', ' + project.getStatus()}">project</a>
</div>

<br>
<hr/>

<a href="/projects/new">Create new project</a>


</body>
</html>