<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<p th:text="${project.getName()}">VALUE</p>
<p th:text="${project.getDescription()}">VALUE</p>
<p th:text="${project.getDateFrom()}">VALUE</p>
<p th:text="${project.getDateTo()}">VALUE</p>
<p th:text="${project.getStatus()}">VALUE</p>

//создать ссылку списка задач проекта, задачи ищем по айди проекта из ШТМЛ строки, проходкой по всему списку задач и
отбражаем только теб кототрые относятся к нашему проетку. Перейдя к списку задач проекта, имеем возможность редактировать задачи,
удалять задау(и), добавить новую задачу (айди проекта сетим в поле задачи айдиПроджект из стоки ШТМЛ)

<a th:href="@{/projects/{id}/edit(id=${project.getId()})}">Edit</a>

<form th:method="delete" th:action="@{/projects/{id}(id=${project.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>